Source: rhythmcat-plugins-base
Section: sound
Priority: extra
Maintainer: SuperCat Expert <supercatexpert@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libgtk-3-dev(>= 3.0.0), libgstreamer0.10-dev, libdbus-glib-1-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.8.4
Homepage: <http://code.google.com/p/rhythmcat>
#Vcs-Git: git://git.debian.org/collab-maint/rhythmcat.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/rhythmcat.git;a=summary

Package: rhythmcat-plugins-base
Architecture: any
Depends: rhythmcat(>=1.0.1)
Description: The base plugins for RhythmCat Music Player.
 It provides:
 * Lyric show plugin
 * Desktop lyric show plugin
 * Notify plugin
 * Music locator plugin
