
[Desktop Entry]
Categories=GTK;Audio;Player;
Comment=RhythmCat Music Player
GenericName=Music Player
Icon=RhythmCat.PNG
Name=RhythmCat
Exec=RhythmCat
StartupNotify=false
Type=Application
Name[en_US]=RhythmCat
