
[Desktop Entry]
Categories=GTK;Audio;Player;
Comment=RhythmCat Music Player
GenericName=Music Player
Icon=musicme.png
Name=musicme
Exec=musicme
StartupNotify=false
Type=Application
Name[en_US]=RhythmCat
